@if (Request.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Crear","Tour")"><i class="fas fa-bus-alt"></i> crear tour</a>
    </li>
    <li class="nav-item justify-content-end">
        @using (Html.BeginForm("CerrarSesion", "Cuenta", FormMethod.Post, new { id = "logoutForm" }))
        {
            <a class="btn btn-secondary mt-2" href="javascript:document.getElementById('logoutForm').submit()"><strong><i class="fa fa-power-off mr-3"></i>Cerrar Sesión</strong></a>
        }
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Login","Cuenta")">Iniciar Sesión</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Registrarse","Cuenta")">Registrarse</a>
    </li>
}

